# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../og63-giveaway-app\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\Kenneth\Documents\OG63\giveaway\og63-giveaway-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
